on init
    echo 0 > /sys/devices/soc/7577000.i2c/i2c-3/3-0011/ti-lmu-backlight.2/backlight/lcd/brightness
    echo 0 > /sys/devices/soc/7577000.i2c/i2c-3/3-0011/ti-lmu-backlight.2/backlight/lcd/max_brightness
    echo 0 > /sys/devices/soc/7577000.i2c/i2c-3/3-002c/backlight/lcd-backlight/brightness
    echo 0 > /sys/devices/soc/7577000.i2c/i2c-3/3-002c/backlight/lcd-backlight/max_brightness

on boot
    start chargeled

service chargeled /sbin/chargeled
    disabled
    seclabel u:r:healthd:s0

