import init.hosd.common.rc
import init.hosd.nanohub.rc
#++ 2016.10.12 USB Team, PCN00063 ++
import init.hosd.usb.rc
#-- 2016.10.12 USB Team, PCN00063 --

import init.htc.storage.exfat.rc

# HTC_BATT ++
on property:ro.boot.mode=offmode_charging
 wait /dev/block/bootdevice/by-name/system
 mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
 start hvdcp_opti
# HTC BATT --

#Set 2LC as default ftm cpu policy
on property:ro.boot.mode=ftm
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1209600
	write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1209600
	write /sys/module/msm_thermal/core_control/cpus_offlined 12
	write /sys/devices/system/cpu/cpu2/online 0
	write /sys/devices/system/cpu/cpu3/online 0
	write /sys/devices/system/cpu/cpu2/sched_budget 0
	write /sys/devices/system/cpu/cpu3/sched_budget 0
